.workexpcard {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  transition: all;
  border-radius: 0.5rem;
  transition-duration: 500ms;
}

.animateWindowOpen {
  animation: openWindow 0.7s ease 0.2s forwards;
}

.animateWindowClose {
  animation: closeWindow 0.7s ease 0.2s forwards;
}

@keyframes openWindow {
  to {
    height: calc(100dvh - 117px);
  }
}

@keyframes closeWindow {
  to {
    height: 0;
  }
}
