.linkedin {
  color: #0077b5;
  transition: all 0.5s ease;
  font-weight: bold;
  border-color: #0077b5;
}

.linkedin:hover {
  background-color: #0077b5;
  color: white;
  border-color: #0077b5;
}

.github {
  color: #6e5494;
  transition: all 0.5s ease;
  font-weight: bold;
  border-color: #6e5494;
}

.github:hover {
  background-color: #6e5494;
  color: white;
  border-color: #6e5494;
}

.moving {
  animation: bouncing 2s ease 0.1s infinite forwards;
}

.animate-move {
  animation: move-left 3s ease 0.1s infinite forwards;
}

@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }
}

@keyframes bouncing {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -23%;
  left: 20px;
  /* transform: rotate(180deg); */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(129 140 248) transparent transparent transparent;
}
