.animateProjectStats {
    --bar-width: 50%;
    animation: widthAnim 0.3s ease-in-out forwards;
}

@keyframes widthAnim {
    from {
        width: 0;
    }

    to {
        width: var(--bar-width);
    }
}