.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(252 165 165) transparent transparent transparent;
  }